html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

#header {
  position: relative;
  z-index: 1000;
  padding: 8px 12px;
  background: white;
  border-bottom: 1px solid #eee;
}

#map {
  height: calc(100% - 56px); /* leave some space for header */
  width: 100%;
}
